[submodule "docs/pi"]
	path = agent-service/docs/pi
	url = https://github.com/earendil-works/pi.git

[submodule "docs/dg-ai-notes"]
	path = agent-service/docs/dg-ai-notes
	url = https://github.com/buchidonggua/dg-ai-notes.git